Componentes/paginas/php/clientId.php
Componentes/paginas/php/clientSecret.php
Componentes/paginas/php/dbConfig.php
Componentes/paginas/php/adminEmails.php
Componentes/paginas/php/oauthConfig.php
Componentes/privado/*
!Componentes/privado/.htaccess
