body {
  background: linear-gradient(238deg, var(--bg-gradient-1), var(--bg-gradient-2), var(--bg-gradient-3), var(--bg-gradient-2), var(--bg-gradient-4), var(--bg-gradient-5));
    background-size: 1200% 1200%;
    -webkit-animation: AnimationName 24s ease infinite;
    -moz-animation: AnimationName 24s ease infinite;
    -o-animation: AnimationName 24s ease infinite;
    animation: AnimationName 24s ease infinite;

  color: var(--text-primary);
  margin: 0;
  padding: 0;
  padding-bottom: 120px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
 @-webkit-keyframes AnimationName {
    0%{background-position:0% 13%}
    50%{background-position:100% 88%}
    100%{background-position:0% 13%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 13%}
    50%{background-position:100% 88%}
    100%{background-position:0% 13%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 13%}
    50%{background-position:100% 88%}
    100%{background-position:0% 13%}
}
@keyframes AnimationName {
    0%{background-position:0% 13%}
    50%{background-position:100% 88%}
    100%{background-position:0% 13%}
}